In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('./data/train.csv')

In [3]:
df

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.01,Premium,G,VS1,62.7,58.0,6.36,6.31,3.97,8.754
1,1,0.60,Good,G,VS2,64.3,57.0,5.31,5.38,3.43,7.492
2,2,1.60,Premium,H,SI2,59.4,59.0,7.55,7.60,4.50,9.010
3,3,0.30,Very Good,J,VS1,63.5,58.0,4.27,4.24,2.70,6.227
4,4,1.00,Very Good,F,SI2,62.8,57.0,6.37,6.44,4.02,8.314
...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.51,Ideal,E,VS2,62.5,55.0,5.08,5.13,3.19,7.412
40451,40451,0.80,Ideal,H,VS2,62.1,54.0,5.96,5.99,3.71,8.016
40452,40452,1.53,Premium,G,SI2,58.7,59.0,7.51,7.45,4.39,9.070
40453,40453,1.51,Ideal,I,VS2,61.6,54.0,7.38,7.42,4.57,9.199
40454,40454,1.00,Ideal,E,VS2,62.1,57.0,6.38,6.41,3.97,8.932

Los diamantes más valorados no tienen color. Por lo tanto, cuanto más color tenga una piedra (amarillo o marrón), menor será su grado. Sin embargo, los diamantes amarillos o marrones que superan el grado Z suben inmediatamente de precio. Estos diamantes tienen suficiente color para ser considerados "de fantasía", junto con los diamantes rosas, verdes y azules. (Una vez que estos diamantes tienen suficiente saturación para mostrar estos colores, se consideran automáticamente de lujo).


La escala D-Z de la GIA se divide en cinco categorías:

· Incoloro - D, E, F.  
· Casi incoloro - G, H, I, J.  
· Tenue - K, L, M.  
· Muy ligero - N, O, P, Q, R.  
· Ligero - S, T, U, V, W, X, Y, Z. 

D es el más caro.

In [4]:
def limpia_catergoricas(data):

    def limpia_color(df):
        return df.apply(lambda x: abs(ord(x.upper())-ord('Z')))


    def limpia_corte(df):
        dict_cut_={'Ideal':5,'Premium':4,  'Very Good':3,'Good':2,  'Fair':1, 'Poor':0}
        return df.apply(dict_cut)

    def limpia_claridad(df):
        dict_clarity={'I3':0, 'I2':1, 'I1':2, 'SI2':3, 'SI1':4, 'VS2':5, 
                    'VS1':6, 'VVS2':7, 'VVS1':8, 'IF':9,'F':10}
        return df.apply(dict_clarity)

    data.color=limpia_color(data.color)
    data.cut=limpia_corte(data.cut)
    data.clarity=limpia_claridad(data.clarity)
    return data

In [5]:
limpia_catergoricas(df)

0        G
1        G
2        H
3        J
4        F
        ..
40450    E
40451    H
40452    G
40453    I
40454    E
Name: color, Length: 40455, dtype: object

RuntimeError: No active exception to reraise

In [21]:
df

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.01,Premium,19,VS1,62.7,58.0,6.36,6.31,3.97,8.754
1,1,0.60,Good,19,VS2,64.3,57.0,5.31,5.38,3.43,7.492
2,2,1.60,Premium,18,SI2,59.4,59.0,7.55,7.60,4.50,9.010
3,3,0.30,Very Good,16,VS1,63.5,58.0,4.27,4.24,2.70,6.227
4,4,1.00,Very Good,20,SI2,62.8,57.0,6.37,6.44,4.02,8.314
...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.51,Ideal,21,VS2,62.5,55.0,5.08,5.13,3.19,7.412
40451,40451,0.80,Ideal,18,VS2,62.1,54.0,5.96,5.99,3.71,8.016
40452,40452,1.53,Premium,19,SI2,58.7,59.0,7.51,7.45,4.39,9.070
40453,40453,1.51,Ideal,17,VS2,61.6,54.0,7.38,7.42,4.57,9.199
40454,40454,1.00,Ideal,21,VS2,62.1,57.0,6.38,6.41,3.97,8.932